NODE_ENV=development
JWT_EXPIRATION_MINUTES=15
DATABASE_URI=psdds
PORT=8002
JWT_SECRET=sads
# MONGO_URI=mongodb://mongodb:27017/express-rest-es2017-boilerplate
# MONGO_URI_TESTS=mongodb://mongodb:27017/express-rest-es2017-boilerplate
# EMAIL_PORT=sdads
# EMAIL_HOST=cdssdc
# EMAIL_USERNAME=dssdf
# EMAIL_PASSWORD=dsdfdsffs